$primary-color: #1677ff;
$danger-color: #ff7875;
$default-color: #abababc8;
$success-color: #52c41a;
$warning-color: #faad14;

$primary-color-1: #effeff;

.primary-color {
  color: $primary-color;
}

.danger-color {
  color: $danger-color;
}

.success-color {
  color: $success-color;
}

.default-color {
  color: $default-color;
}

.warning-color {
  color: $warning-color;
}
