// Theme Color as variable

@import "./styles//_modal";
@import "./styles//_spinner";
@import "./styles//_button";
@import "./styles//_input";
@import "./styles//_card";
@import "./styles//_tab";

.image-container {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
